.res-container{
    display: flex;
    gap:1rem;
    /* margin:30px; */
   /* justify-content: center; */
    width: 90%;
    margin:auto;
    flex-wrap: wrap;
}
.res-image{
    height:200px;
}
.filter{
    margin: 1rem;
}
.login{
    margin: 1rem;
    width: 100px;
    height: 35px;
    cursor:pointer;
    background-color: orange;
    border-radius: 10px;
}